<footer>
  <div class="contact-info">
    <div class="social-links">
      <p> Contacto:
        <i class="fa-regular fa-envelope"></i> mario_mencia@hotmail.com
        <a href="https://wa.me/50378775773" target="_blank">
          <i class="fa-brands fa-whatsapp"></i>+50378775773
        </a>
      </p>
    </div>
  </div>

  <div class="social-links">
    <a href="https://www.linkedin.com/in/mariomencia/" target="_blank">
      <i class="fa-brands fa-linkedin"></i>
      Mario Mencía LinkedIn
    </a>
  </div>

  <div class="copyright">
    <p>&copy; 2023 para Colsubsidio. Todos los derechos reservados.</p>
  </div>
</footer>
